<!-- footer start-->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 footer-copyright">
                <p class="mb-0">کپی رایت 2019 © setin همه حقوق محفوظ است.</p>
            </div>
            <div class="col-md-6">
                <p class="pull-right mb-0">طراحی توسط ستین<i class="fa fa-heart"></i></p>
            </div>
        </div>
    </div>
</footer>
<!-- footer end-->